@use '../abstracts/variables' as v;

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: v.$font-primary;
  line-height: 1.6;
  color: v.$text-primary;
  background-color: v.$background-primary;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: v.$font-heading;
}

h1 {
  font-size: 1.5rem;
  line-height: 1;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.56rem; // 25px
}

h4 {
  font-size: 1.25rem; // 20px
}

h5 {
  font-size: 1.125rem; // 18px
}

p {
  font-size: 1rem; // 16px
}
